.container {
  margin: 30px auto;
  box-sizing: border-box;
  width: 80%;
  background: #A0A0A5;
  border: 3px solid #000000;
  border-radius: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

