<div *ngIf="(items$ | async) as items">
  <div class="container" *ngIf="items.length > 0">
    <ng-container *ngFor="let item of items">
      <app-video *ngIf="item.id.kind === 'youtube#video'" [itemInput]="item"
                       [routerLink]="['/player']"  [queryParams]="{ videoId: item.id.videoId }">
      </app-video>
      <app-channel *ngIf="item.id.kind === 'youtube#channel'" [itemInput]="item">
      </app-channel>
      <app-playlist *ngIf="item.id.kind === 'youtube#playlist'" [itemInput]="item"
                    [routerLink]="['/playlist']"  [queryParams]="{ playlistId: item.id.playlistId }">
      </app-playlist>
    </ng-container>
  </div>
</div>

